.modal {
	position: fixed;
	top:  0;
	left:  0;
	width:  100vw;
	height:  100vh;
	z-index: 0;
	overflow: auto;
}


.modal__container {
	padding: 50px;
	width: 90%;
}


.modal__container {
	flex-direction: column;
}


.modal__goBack {
	cursor:  pointer;
	align-items: center;
	justify-content:  center;
	width: 100px;
	height: 50px;
}


.modal__country, .country__details {
	flex-direction: column;
	margin-top: 30px;
}


.country__flag {
	padding: 20px;
	width: 350px;
	height:  180px;
}


.country__details {
	padding: 20px;
	align-items: flex-start;
	font-family:  sans-serif;
}


.details__name {
	font-size:  20px;
	margin-bottom:  10px;
}


.details__item {
	font-size: 12px;
	margin: 10px 0;
}


.upper_block {
	display: flex;
}

.country__details div:nth-child(7),
.details__border {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	font-size: 16px;
}


.border__box {
	display: flex;
	flex-wrap: wrap;
}


.border__box span {
	position: relative;
	top: 10px;
}


.border__button {
	border: 0px;
	padding: 10px;
	margin: 5px;
}
.upper_block {
	display: flex;
	flex-direction: column;
}


@media screen and (max-width: 450px){

	.modal__container {
		padding: 30px;
	}


	.modal__country {
		margin-top: 30px;
		padding: 2px
	}


	.modal__goBack {
		width: 100px;
		height: 35px;
	}


	.country__flag {
		padding: 5px;
		width: 320px;
		height:  180px;
	}

	
	.details__name {
		font-size: 20px;
	}


	.border__box span {
		width: 100%;
		margin-bottom: 20px;
	} 


	.border__button {
		padding: 5px;
	}


}


@media screen and (min-width: 650px){

	
	.modal__country {
		flex-direction: row;
	}


	.country__flag {
		margin-top: 50px;
		padding: 20px;
		width: 300px;
		height:  160px;
	}

	.country__details {
		padding-top: 50px;
		padding-left: 50px;
	}


	.details__name {
		font-size: 24px;
		margin-bottom: 20px;
	}


	.details__item {
		font-size: 16px;
		margin: 5px;
	}


	.upper_block {
		flex-direction: row;
	}


	.upper_right {
		margin-top: 50px;
		margin-left: auto;
	}

}

@media screen and (min-width: 800px) {
	
	.country__flag {
		padding: 20px;
		width: 400px;
		height:  220px;
	}

	
}

@media screen and (min-width: 1050px) {

	.country__flag {
		padding: 20px;
		width: 450px;
		height:  280px;
	}

	.details__block {
		display: flex;
	}

	

}