:root {
  --color:  #FAFAFA;
  --color-dark:  #212E37; 
  --container-light:  #FFFFFF;
  --container-dark: #2B3743;
}



/* General Styles */

:root {
  height:  100vh;
}


body {
  margin: 0;
}


.app--light{
  background-color:  var(--color);
}


.app--dark {
  background-color: var(--color-dark);
}


.header, .filters, .flags_container, .container__card, .filters__search{
  display: flex;
}


/* Header Related Styles */

.header {
  padding: 5px 50px 5px 80px;
  font-size: 12px;
  font-family: sans-serif;
  align-items: center;
}


.header--light, .container__card--light, .filters__search--light, .country_modal--light {
  background-color:  var(--container-light);
  color: black;
  box-shadow: 1px 1px 8px #DADADA;
}


.header--dark, .container__card--dark, .filters__search--dark, .country_modal--dark {
  background-color:  var(--container-dark);
  box-shadow: 2px 2px 2px #1E2A36;
  color: white;
}


.theme_switcher {
  user-select: none;
  margin-left: auto;
  font-size:  12px;
  font-weight: bold;
  cursor: pointer;
}


/* Filters Related syles */ 

.filters {
  padding: 50px 80px;
}

.filters__search {
  height: 50px;
  width: 400px;
  border-radius: 4px;
  align-items:  center;
}


.search__input {
  width:  60%;
  height: 90%;
  outline: none;
  border: none;
}

.search__input--light {
  background-color:  var(--container-light);
  color:  black;
}


.search__input--dark {
  background-color:  var(--container-dark);
  color:  white;
}


/* Flags Related Styles */

.flags_container {
  padding: 0 5%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}


.container__card {
  width: 350px;
  font-family: sans-serif;
  flex-direction: column;
  border-radius: 8px;
  padding-bottom: 20px;
} 


.card__image {
  height: 220px;
  background-size:  100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px 8px 0 0;
}


.card__header {
  margin:  20px 0;
  font-size: 16px; 
}

.card__header, .card__info {
  margin-left:  10%;
}

.card__info {
  margin-bottom: 5px;
  font-weight: lighter;
} 

.bold {
  font-weight: bold;
}


@media screen and (min-width: 650px) {

  .flags_container {
    justify-content: space-between;
  }

  .container__card {
    width: 270px;
  }

  .card__image {
    height: 160px;
  }
  
}
